/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

#Batiment {
    position: absolute;
    top: 0%;
    left: 0%;
}

#Hand {
    position: absolute;
    top: 0%;
    left: 0%;
}

#Sceau {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 80%;
    z-index: 1;
}

#cube {
    position: absolute;
    top: 8%;
    left: 34%;
}

.hide {
    display: none;
}