html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#monImage1{
    width: 175px;
    height: 100px;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
}

#monImage2{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hide{
    display: none;
}