/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   oogre
* @Last Modified time: 2020-03-29 00:05:28
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} 

.phase2{
    
    width: 256px;
    height: 256px;
     background-image: url(file.png);
}

.phase2:hover{
    
    width: 256px;
    height: 256px;
    transform: matrix(1, 1, 1, 1, 1, 1);
}

.phase1{
    background-image: url(Cadre4.png);
    
    margin-top: 10px;
    height: 256px;
    width: 256px;
}
.phase1:hover{
    
    background-image: url(file.png);
    
}

.hide{
    display: none;
}
