
html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;}
body {
	padding: 0; 
	margin: 0;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #eee;}

img {position: absolute;}

#punch {top: 115px; left: 35px; transition: 0.15s; height: 66px;}
#punch:hover { top: 103px; left: 23px; height: 90px; }
#punch:active {left: 90px;}

.mattA {top: 0px; left: 0px; transform: none; transition: 0.5s;}
.mattB {top: 28px; left: -15px; transform: rotate(-15deg);}
.mattC {top: 68px; left: 276px; transform: rotate(100deg);}
