/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   oogre
* @Last Modified time: 2020-03-29 00:10:30
*/

html{
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: black;
}
body{
	text-align: center;
}

#main {
	padding: 0;
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

div {
	height: 100%;
}

h2 {
	color: white;
}
