/*
* @Author: Evrard Vincent / Vanhecke Matthieu
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   Vanhecke
* @Last Modified time: 2020-02-21 18:15
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;}
body {
	padding: 0; 
	margin: 0;
	background: #030303;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);}

img {position: absolute; z-index: 1;}

.slidA {left: 0px; transition: 0.3s}
.slidB {left: 94px;}

.imessA {
	left: -256px;
 	transition: 1.5s}
.imessB {
	left: 0px;
}

#form {position: absolute; z-index: 3; top: 233.5px;left: 47px;}
input {
	width: 145px; height: 14px; border-radius: 100px;
	background-color: transparent; border: none;}
input:focus {outline: none;}
.hide {display: none;}