/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

#decor{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 256px;
	height: 256px; 
}

#chien{
	position: absolute;
	top: 85px;
	left: 85px;
	width: 121px;
	height: 149px;
}

#waf{
	position: absolute;
	top: 0%;
	left: 0%;
}

.hide{
	display: none;
}