html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#monImage1{
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
}

#monImage2{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 128px;
    left: 128px;
    transform: translate(-50%, -50%);
}

.hide{
    display: none;
}