/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}

body {
	padding: 0; 
	margin: 0;
	background: black;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
} 

.phase1{
    position: relative;
    background-image: url(Sous%20les%20doigts.png);
    width: 156px;
    height: 156px;
    border: 50px solid transparent;
    padding: 1px;
  background-repeat: no-repeat; 
}

.phase1:hover{
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    width: 106px;
    height: 106px;
    background-image: url(Jard1.jpg);
    background-repeat: round;
    
}

.hide{
    display: none;
}

.jard1{
    position: relative;
    width: 156px;
    height: 156px;
    background-image: url(Jard1.jpg);
    background-repeat: no-repeat;
}

.jard1{
                -webkit-transition-property: width, height; /* Safari */
                -webkit-transition-duration: 7s; /* Safari */
                -webkit-animation: mymove3 5s 1; /* Safari 4.0 - 8.0 */
                -webkit-animation-delay: -0s; /* Safari 4.0 - 8.0 */
                -webkit-animation-direction: alternate-reverse;
                -webkit-animation-iteration-count: infinite;          
        }


    .jard1:hover {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
        animation-play-state: paused;
    }

    @-webkit-keyframes mymove3 {
      
        0%{left: 0px; top: 0px;-webkit-transform: rotate(0deg)}
        30%{left: 200px;top: 100px;-webkit-transform: rotate(45deg);}
        60%{left: 300px; top: 500px;-webkit-transform: rotate(90deg)}
        90%{left: 200px; top: 100px;-webkit-transform: rotate(420deg)}
        100%{left: 100px;top:0px; -webkit-transform: rotate(180deg);}
    
    
    }

