/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/
html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}

body {
	padding: 0; 
	margin: 0;
	background-image: url(./256-Background02.png);
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
    transform-origin: center center;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
} 

#Print{
    display: block;
    opacity: 100%;
    width: 128px;
    height: 128px;
    margin: 0;
    left: 64px;
    top: 64px;
    position: absolute;
    background-image:url(./Print.png); 
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}


#Box{
    display: none;
    opacity: 0%;
    position: absolute;
    margin: 0;
    background-image: url(./MouseEnter.png);
    height: 128px;
    width: 128px;
    top: 64px;
    left: 64px;
    z-index: 1;
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}

#Success{
    position: absolute;
    width: 256px;
    height: 256px;
    display: none;
    opacity: 0%;
    background-image: url(./Success.png);
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}

