/*
* @Author: Evrard Vincent / Vanhecke Matthieu
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   Vanhecke
* @Last Modified time: 2020-02-21 18:15
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: #ddd;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#a {animation-duration: 1.5s;
    animation-name: Appear;
    animation-iteration-count: 1;}

#b {z-index: -1; height: 175px; width: 10px; top: 45px; left: 120px; box-shadow: -2px -2px 5px #555,  2px 2px 5px #fff; background-color: black;}

div { 
	height: 200px; width: 200px;
	border-radius: 100px;
	background-color: #ddd;
	box-shadow: 5px 5px 9px #bbb, -5px -5px 9px #fff;
	position: absolute; top: 28px; left: 28px;
	z-index: 0;
}

.drag {transition: 0.3s;height: 50px; width: 100px; top: 28px; left: 78px;}
.dragged {transition: 0.3s;height: 50px; width: 100px; top: 178px; left: 78px;}

@keyframes Appear {
	0% {box-shadow: 0px 0px 0px #bbb, 0px 0px 0px #fff;}
	100% {box-shadow: 5px 5px 9px #bbb, -5px -5px 9px #fff;}
}