/*
* @Author: Vanhecke Matthieu
* @Date:   2020
* @Last Modified by:   Vanhecke
* @Last Modified time: 2020-03-03 18:15
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.balloon {
	border-radius: 100px;
	background-color: #FF3200;
	height: 25px; width: 25px;
	z-index: 2;
	position: absolute; left: 125px; top: 95px;
	transition: 2s;
}

#balloon:active { height: 130px; width: 130px; top: 45px;}

.ballooned {
	height: 300%; width: 300%;
	position: absolute; top: -150px; left: 0%;
	background-color: #FF8755;
}

.hide {height: 225px; width: 225px; top: -330px; left: 12.5px;z-index: 3; position: absolute; transition: 1s;}
.pinata {top: -5px; transition: 1s;}
.pinata:active {transform: rotate(20deg); left: -20px;}
.pinataDEAD {display: none;}
.pinaDEAD {display: none;}
.show {display: inline ;height: 225px; width: 225px; top: -5px; left: 12.5px;z-index: 3; position: absolute;}