/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} 



#rec{
    
width : 150px;
height : 120px;
padding-left: 50px;
    
}

#micon{
    width : 100px;
	height : 100px;
    padding-left: 75px;
   
    
}

#mic{
    width : 100px;
	height : 100px;
    padding-left: 75px;
   
}

.button

{
    width : 110px;
	height : 110px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 10px;

}

.button:hover {
 box-shadow: inset -1px 1px 20px black;  
}

#play{
width : 120px;
height : 120px;

padding-left: 130px;
    
   
    
}

.hide{
    display: none;
}
