/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    overflow: scroll;
} 

#ascenseur {
    position: absolute;
    top: 0%;
    left: 0%;
}

#ascenseur2 {
    position: absolute;
    top: 0%;
    left: 0%;
}

#Jean_Michel {
    position: absolute;
    top: 0%;
    left: 0%;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: white;
}

.hide {
    display: none;
}

