/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background-image: url(./../../../public/images/256-Background01.png);
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
} 

.BigRedButton {
    height: 128px;
    width: 128px;
    background-color: crimson;
    top: 25%;
    left: 25%;
    padding: 0; 
	margin: 0;
    border-radius: 64px;
    position: absolute;   
}

.BigRedButton:hover{
    transition: 1s;
    box-shadow: 10px 10px 10px 10px rgba(25, 25, 25, 0.7);
    background-color: aqua;
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}

.Hide {
    opacity: 0%;
    transition: 1s;
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}

#LeaveBox{
    display: none;
    opacity: 0%;
    position: absolute;
    width: 128px;
    height: 128px;
    left: 25%;
    bottom: 25%;
    background-image: url(./../../../public/images/MouseLeave.png);
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}

#Success{
    position: absolute;
    width: 256px;
    height: 256px;
    display: none;
    opacity: 0%;
    background-image: url(./../../../public/images/Success.png);
    transition-timing-function: cubic-bezier(0,.67,1,.57);
}