/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: pink;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translate(-50%, -50%);
} 

#img1{
    position: absolute;
}

#img2{
    position: absolute;
    left: -15px;
    top: -15px;
}

.hide{
    display: none;
}

.dropZone{
	position: absolute;
	width: 30px;
	height: 30px;
	background: transparent;
	top: 87px;
	left: 118px;
}
