/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   oogre
* @Last Modified time: 2020-03-29 00:05:48
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} 
#boite{

	position:relative;
	height:256px;
	left:0%;
	top:0%;
}
.hide{
	display:none ;
	}

#rond{
	position: relative;
	height:256px;
	left:0%;
	top:0%;
}



}