/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
} 

#scroll{
width: 120px;
height: 180px; 
padding-left: 60px;

    
}



.button{
    width : 110px;
	height : 110px;
    background-color: green;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 70px;
    text-align: center;
    
    
    
}

.button:hover {
 box-shadow: inset -1px 1px 20px black;  
}

.hide{
    display: none;
}


