/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
} 

#carte
{   margin-left: 85px;
    margin-top: 15px;
    width : 75px;
	height : 220px;
    
}

#carteop
{
width: 256px;    
margin-top: 15px; 
height : 220px;
}

#print
{
height: 170px;
width: 170px;
position: absolute;
margin-left: 40px;
margin-top: 40px;    
}

.hide{
    display: none;
}
