/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    background-color: #EEE8AA;
} 

.arrow{
	width: 100px;
    height: 100px;
    position: absolute;
    top: 156px;
    left: 74px;
}

.axe{
	width: 10%;
    height: 90%;
    background: black;
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 2;
}

.needle{
	width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.mask{
	background: white;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 1;
    background: #EEE8AA;
}

.shape{
	width: 100%;
    height: 100%;
    position: absolute;
}

.sub-shape{
	background-color: black;
    transform: rotateZ(45deg);
    width: 70%;
    height: 70%;
    margin-top: 7px;
    margin-left: 7px;
}
#objet1{
    background-color: #9370DB;
    width: 265px;
    height: 265px;
}
.arrow1{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 156px;
    left: 74px;
}

.axe1{
    width: 10%;
    height: 90%;
    background: black;
    position: absolute;
    top: 0;
    left: 45%;
    z-index: 2;
}

.needle1{
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.mask1{
    background: white;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 1;
    background: #9370DB;
}

.shape1{
    width: 100%;
    height: 100%;
    position: absolute;
}

.sub-shape1{
    background-color: black;
    transform: rotateZ(45deg);
    width: 70%;
    height: 70%;
    margin-top: 7px;
    margin-left: 7px;
}
.hide{
    display: none;
}
