/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	border: none;
	padding: 0; 
	margin: 0;
	background-color: #000033;
	width : 256px;
	height : 256px;
	overflow: scroll;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

#decor{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 256px;
	height: 256px;
}

#lettre{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 256px;
	height: 256px; 
}

#read{
	position: absolute;
	top: 0%;
	left: 0%;
}

.hide{
	display: none;
}

::-webkit-scrollbar {
	border-bottom: hidden;
	width: 0px;
	height: 0px;
	background-color: #000033;
}
