/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}

body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

#chien {
    position: absolute;
    top: 0%;
    left: 0%;   
}

#balle {
    position: absolute;
    top: 35%;
    left: 80%;
    height: 50px;
    width: 50px;
    z-index: 2;
    animation: fadeIn 10s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#flash {
    position: absolute;
    top: -10%;
    left: -5%;
}

.hide {
    display: none;
}





