/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   oogre
* @Last Modified time: 2020-03-29 00:09:17
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} 

#dessin{
	width:100px;
	position :relative;
	top : 130px;
	left:75px;
}

.hide{
	display: none;
}

.print{
	animation: print 3s linear infinite;
}


@keyframes print{
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(0px);
	}
}

.take{
	animation: printed 2s linear;
}

@keyframes printed{
	0%{
		transform: translateY(0px);
	}
	100%{
		transform: translateY(-300px);
	}
}

