/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
} 

#coeur{
	height: 256px;
	width: 256px;
	position: relative;


}

#bouton{
	height: 256px;
	width: 256px;
	position: relative;


}

.hide{

	display: none;
}