/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   oogre
* @Last Modified time: 2020-03-29 00:09:42
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
} 
#Image1{
	width: 256px;
	height: 256px;
}

#Image2{
	width: 256px;
	height: 256px;
	position: absolute;
   
}

.hide{
	display: none;
}
    