/*
* @Author: Evrard Vincent
* @Date:   2020-02-06 23:32:06
* @Last Modified by:   ogre
* @Last Modified time: 2020-02-06 23:35:41
*/

html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: black;
}
body {
	padding: 0; 
	margin: 0;
	background: blue;
	width : 250px;
	height : 250px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%, -50%);
} 
#file{
	background-color: orange;
	width: 140px;
	height: 140px;
	position: absolute;
	top:55px;
	left:55px;
	background-image: url(./drop.png);
	background-size: contain;
	background-repeat: no-repeat;
}
#roses{
	position: absolute;
	width: 250px;
	height: 250px;
	background-color: blue;
	top: 0%;
	left: 0%;
	background-repeat: no-repeat;
	background-image: url(Lesroses.gif);
	background-size: 100%;
}
.hide{
	display: none;
}